# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py,cover

# Virtual environments
venv/
.venv/
env/
.env/

# Database
*.sqlite3
*.db
*.sql

# Django
/media/
/staticfiles/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE & OS specific
.DS_Store
.idea/
.vscode/
*.swp
*.swo