{% extends 'accounts/auth_base.html' %}

{% block auth_title %}Password Reset Email Sent{% endblock %}

{% block auth_content %}
<div class="password-reset-card">
    <div class="success-message">
        <i class="fas fa-check-circle success-icon"></i>
        <h3>Password Reset Instructions Sent</h3>
        <p>
            We've emailed you instructions for setting your password. 
            You should receive the email shortly.
        </p>
        <p>
            If you don't receive an email, please make sure you've entered 
            the address you registered with, and check your spam folder.
        </p>
    </div>
</div>
{% endblock %}

{% block auth_links %}
<p><a href="{% url 'home:index' %}"><i class="fas fa-arrow-left"></i> Return to homepage</a></p>
{% endblock %}