{% extends 'accounts/auth_base.html' %}

{% block auth_title %}Register Account{% endblock %}

{% block auth_content %}
<form method="POST" class="auth-form">
    {% csrf_token %}
    
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        <div class="form-error">
            {{ field.errors }}
        </div>
        {% endif %}
        {% if field.help_text %}
        <small class="form-help">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}
    
    <button type="submit" class="btn primary-btn btn-block">Register</button>
</form>
{% endblock %}

{% block auth_links %}
<p>Already have an account? <a href="{% url 'accounts:login' %}">Login here</a></p>
{% endblock %}